  .search-section  {
    margin: 50px;
    text-align: center;
  }

  #search {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .course {
    background-color:#eee;
    margin: 15px auto;
    width: 150px;
    padding: 20px;
  }